<ion-header>
  <ion-toolbar>
    <ion-title>CLIO</ion-title>
    <ion-button slot="start" fill="outline">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Concerns</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>    
    
      <ion-item>
        <ion-label>From:</ion-label>
        <ion-label> {{firtsName}} {{middleName}} {{lastName}} {{suffix}} </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Company:</ion-label>
          <ion-label> {{companyName}} </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Contact no.:</ion-label>
          <ion-label> {{contactNo}} </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>To: </ion-label>

          <ion-select [(ngModel)]="toUser" (ionChange)="selectWhoseAdviser()" placeholder="Select recepient">

            <ion-select-option value="admin"  > Admin </ion-select-option> 
            <ion-select-option value="adviser"  > Adviser </ion-select-option> 

          </ion-select>
        

      </ion-item>

      <ion-item>
        <ion-label>For whose adviser:</ion-label>

          <ion-select   [(ngModel)]="studentNumber" placeholder="Select a student" [disabled]="!isEnabled">

            <ion-select-option *ngFor="let student of evaluationInfo" value="{{student.studentNumber}}"  > {{student.firstName}}  </ion-select-option> 

          </ion-select>
        

      </ion-item>
      <ion-item-divider>
          <ion-label>Subject:</ion-label>
          <ion-input [(ngModel)]="subject" ></ion-input>
      </ion-item-divider>
      <br>
      <h3>Your Concern</h3>
      <ion-item-divider>
        <ion-textarea  [(ngModel)]="concern" row="6" cols="20" placeholder="Enter your concern here..."></ion-textarea>
      </ion-item-divider>
      <div class="button">
        <ion-button  fill="outline" (click)="cancelConcern()">Cancel</ion-button>
        <ion-button  fill="outline" (click)="presentAlert()">Send</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
