<ion-header>
  <ion-toolbar>
    <ion-title>CLIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Profile</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <div class="profilePicture">
        <img src="{{src}}"/>
      </div>  

      <br>
      <ion-button  fill="outline" expand="block" size="small" (click)="selectPhoto()">Select Photo</ion-button>
      <br>

      <ion-item>
        <ion-label>First name:</ion-label>
        <ion-input [(ngModel)]="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Middel name:</ion-label>
        <ion-input [(ngModel)]="middleName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Last name:</ion-label>
        <ion-input [(ngModel)]="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Company: </ion-label>
        <ion-input [(ngModel)]="companyName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password: </ion-label>
        <ion-input type="password" [(ngModel)]="password"> </ion-input>
      </ion-item>
       <br>
      <div class="profile">
       <ion-button fill="outline" (click)="accountEditPageCancel()">Cancel</ion-button>
      <ion-button fill="outline" (click)="presentAlert()">Save</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
